:root {
	--bg: #fff ;
	--bg-box: #f0f0f0;
	--box-shadow: rgb(0, 0, 0, 0.2);
	--text: #222;
	--accent: #3C3B6E;
}

body {
	background-color: var(--bg);
	padding: 10px 10px;
	margin: auto
}

.box_container {
	margin-top: 10px;
	display: grid;
	grid-gap: 10px 10px;
	grid-template-columns: auto auto auto auto;
}
.box {
	background-color: var(--bg-box);
	color: var(--text);
	font-family: Consolas,monaco,monospace; 
	box-shadow: 5px 5px 5px var(--box-shadow);
	border-radius: 6px;
	padding: 20px;
	text-align: center;
	
}

ul {
	text-align: start;
	padding-left: 20px;
}
h1 {
	color: var(--accent);
	font-size: 25px;
	text-align: start;
	margin-top: 0px;
}
h2 {
	color: var(--accent);
	font-size: 18px;
	text-align: start;
}
p {
	text-align: start;
	margin: 0px;
}
a {
	color: var(--accent)
}
a:hover {
	color: var(--accent-dark);
	transition: color 300ms;
}